* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'montserrat';
    max-width: 1440px;
    margin: 0 auto;
}

:root{
    --dark-blue: #13293D;
    --upte-blue: #02A2D8;
    --red: #DF2935;
    --yellow: #FFBE0B;
}

